<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT PRODUCT</title>
</head>
<body>
    <h1>edit a product</h1>  
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
        <label for="name">product name</label>
        <input type="text" name="name" placeholder="product name" id="name" value="<%=product.name %>">
        <label for="price">product price</label>
        <input type="number" name="price" placeholder="product price" id="price" value="<%=product.price%>">
        <label for="catergory">product catergory</label>
        <select name="catergory" id="catergory">
            <option value="fruit" <%=product.catergory==='fruit'?'selected':''%>>fruit</option>
            <option value="vegetable"  <%=product.catergory==='vegetable'?'selected':''%>>vegetable</option>
            <option value="dairy"  <%=product.catergory==='dairy'?'selected':''%>>dairy</option>
        </select>
        <button>SUBMIT</button>
    </form>
</body>
</html>